# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
lambda-bundle.zip
lambda.zip

# Lambda
lambda/node_modules/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# System
.DS_Store
